<div class="todo-container">
    <div class="header">
        <h2>Todos with Realtime Supabase</h2>
        <div>
            @if(loading()) {
            <span class="loading">
                Loading...
            </span>
            }
            <span class="status" [class.connected]="isConnected()?.alive">
                {{ isConnected()?.alive ? 'Connected' : 'Not Connected' }}
            </span>
            <button (click)="fetchTodos()">Refresh</button>
        </div>
    </div>


    <div class="add-todo">
        <input type="text" [(ngModel)]="newTodoTitle" (keyup.enter)="addTodo()" placeholder="Add a new todo...">
        <button (click)="addTodo()">Add</button>
    </div>



    <ul class="todo-list">
        @for(todo of todos | async; track $index) {
        <li [class.completed]="todo.is_completed" [class.loading]="loading()" class="todo-item">
            <input type="checkbox" [checked]="todo.is_completed" (change)="toggleTodo(todo)">
            <span class="title">{{ todo.title }}</span>
            <button class="delete-btn" (click)="deleteTodo(todo.id)">X</button>
        </li>
        }
    </ul>
    @if((todos | async)?.length === 0) {
    <div class="empty-state">
        No todos yet. Add one above!
    </div>
    }



</div>