.status {
    &.connected {
        color: #22c55e;
    }

    &:not(.connected) {
        color: #ef4444;
    }
}

main {
    padding: 25px;
    height: 100vh;
    overflow-y: scroll;
}

article {
    &.completed {
        opacity: 0.6;
        text-decoration: line-through;
    }

    header {
        .item-header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            label {
                margin: 0;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }
        }
    }

    .author {
        font-size: 0.75rem;
        color: var(--muted-color);
        font-style: italic;
    }

    .content {
        display: flex;
        justify-content: start;
    }
}

.delete-btn {
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    width: auto;
    margin: 0;
    margin-left: auto;
}